@import "base.less";

/* Functions & Tools
-------------------------- */ 
.left {
	float: left;
}

.right {
	float: right;
}

.accessibility {
	position: absolute;
	top: -999em;
	left: -999em;
	color: #999;
}

/* Site 
-------------------------- */ 
